@tailwind base;
@tailwind components;
@tailwind utilities;
@layer  base{
    
    @font-face {
        font-family:"shamelFamilyBold" ;
        font-weight: 700px;
        src: url('assets/Fonts/FF_Shamel_Family_Sans_One_Bold.ttf') 
    }
    @font-face {
        font-family:"shamelFamilyNormal" ;
        font-weight: 400px;
        src: url('assets/Fonts/FF_Shamel_Family_Sans_One_Book.ttf') 
    }
}
body{
    font-family: 'shamelFamilyBold';
}
    /* body{
        font-family:'shamelFamily' ;
        @font-face {
            font-family: "Fira Sans";
            src: url('fonts/fira/eot/FiraSans-Regular.eot');
            src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
                 url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
                 url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
                 url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
    } */